.profileContainer {
    padding: 2rem;
    padding-left: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    padding: 15px;
}

.titleContainer h1 {
    font-family: 'Zing Rust', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #C48F43;
    filter: drop-shadow(0 0 20px #C48F43);
}

.userDataContainer {
    background: #D9D9D90D;
    max-width: 915px;
    max-height: 370px;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    border-radius: 15px;
    margin-top: 1.5rem;
}

.userDataContainer h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF99
}

.userDataContainer h3 {
    color: #FFFFFF4D;
    padding: 2px 0;
    font-size: 14px;
}

.userDataContainer p {
    color: #FFFFFF99;
    padding: 2px;
    font-size: 14px;
}

.userDataField {
    margin: 1.5rem 0 0.5rem 0;
}

.editButton {
    margin-top: 2.5rem;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: radial-gradient(#C48F43, #FFBE61);
    filter: drop-shadow(0 0 20px #C48F43);
}

/* Edit Profile Popup */
.editProfilePopupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(60, 60, 60, 0.35);
    z-index: 10000;
}

.editProfilePopup {
    background-color: #373737;
    max-width: 900px;
    max-height: 410px;
    padding: 2.5rem;
    margin: 2.6rem;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

.popupHeader {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF99;
    font-size: 20px;
}

.popupFieldContainer {
    padding: 8px 0;
    margin-top: 0.7rem;
}

.popupFieldContainer p {
    color: #FFFFFF4D;
}

.popupFieldContainer input {
    width: 100%;
    height: 35px;
    padding: 12px;
    margin: 6px 0;
    border-radius: 8px;
    border: 0;
    background-color: #474747c7;
    color: #ffffffcd;
}

.popupButtonContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-top: 4.5rem;
}

.popupButtonContainer > div {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
}

.popupButtonContainer button {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 0;
}

.cancelButton {
    background: radial-gradient(#C44350, #FF6171);
    filter: drop-shadow(0 0 20px #FF6171);
}

.joinButton {
    background: radial-gradient(#C48F43, #FFBE61);
    filter: drop-shadow(0 0 20px #C48F43);
}

/* Decorative Elements */
.yellowGalaxy {
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: -1000;
}

.blueAstronaut {
    position: absolute;
    top: 700px;
    right: 10px;
    z-index: -1000;
}

.yellowClipPath {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: -1000;
}

.blueClipPath {
    position: absolute;
    left: -10px;
    top: 150px;
    z-index: -1000;
}

@media screen and (max-width: 1060px) {
    .titleContainer h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 900px) {
    .titleContainer h1 {
        font-size: 35px;
    }

    .userDataContainer h2 {
        font-size: 15px;
    }

    .yellowGalaxy {
        width: 300px;
        height: auto;
        right: 10px;    
    }

    .blueAstronaut {
        width: 300px;
        height: auto;
        top: 800px;
        right: 10px;
    }

    .yellowClipPath {
        width: 800px;
        height: auto;
    }

    .blueClipPath {
        width: 800px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .profileContainer {
        padding: 1.5rem;
    }
}