@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Font lebih halus di Webkit */
}

body {
  font-family: 'DM Sans', sans-serif; /* Ganti dengan font pilihan Anda */
  background-color: #151515; /* Contoh warna background */
  color: #333; /* Contoh warna teks default */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Style dasar tambahan jika perlu */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Pastikan root element mengambil tinggi penuh */
}

main {
  flex-grow: 1; /* Biarkan konten utama mengisi ruang yang tersedia */
}