.countdown {
    display: flex;
    justify-content: center;
    gap: 4rem;
    text-align: center;
}

.time .number {
    font-size: 48px;
    color: #3c9aff;
    text-shadow:
        0 0 20px #3c9aff;
    font-weight: bold;
}

.time .label {
    font-size: 14px;
    color: #ffffffcc;
    text-shadow:
        0 0 20px #80AFFF;
    letter-spacing: 1px;
    font-weight: 600;
}

.time {
    display: flex;
    flex-direction: column;
}